main {
    flex: 1;
}

/* for responsiveness, when width goes below 650px, the styling changes
to allocate one card per line */
@media (max-width: 650px) {
    main ul {
        grid-template-columns: 1fr !important;
    }
}

main ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    list-style: none;
}

